<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Work</title>
  <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="../../css/responsive-bootstrap.css">
    <script type="text/javascript" src="../../js/default.js"></script>
  </head>
<body style="background: url(../../img/mobile_header.jpg) no-repeat;background-size: cover;">
<header>
  <nav  id ='header-nav'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: transparent;" >
  <a class="navbar-brand" href="#" style="color: white;">Bechmobile</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="float:right;">
    <span class="navbar-toggler-icon" style="color: white;"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="../home.html">Home </a>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="../sell.html" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sell<span class="sr-only">(current)</span></a>
        <div class="dropdown-menu dropdown-dark bg-dark" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="predictprice.html" style="color: grey;">Predict Price</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buy Phone</a>
        <div class="dropdown-menu dropdown-dark bg-dark" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" style="color: grey;">New</a>
          <a class="dropdown-item" href="../retrieve.php" style="color: grey;">Used</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Wishlist</a>
      </li>
    </ul>
    <div class="dropdown show ml-auto">
  <a class=" nav-link navbar-dark  btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Profile
  </a>

  <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#" style="color:grey;">Log Out</a>
  </div>
</nav>
</nav>
  </header>




<section style="width:40%; border:solid black;background: linear-gradient(to right,rgb(240,240,240),rgb(150,150,150)); margin:5% 0% 0% 1.5%;">
  <h2 style="font-size: 2.25vw;">Find your Mobile Price</h2>
  <form action='http://127.0.0.1:5000/predict' method="POST" >


    <input type="checkbox" id="same" name="same" onchange= "deFault()"/>    
        <label for = "same">Fill default values</label>            
  <div class="form-group" >
    <label for="batteryPower">Battery Power</label>
    <input type="number" class="form-control" id="batteryPower" aria-describedby="battery" placeholder="Enter Battery Power"name="battery">
  </div>

  <label for="bluetooth">Bluetooth </label>
  <div class="form-group form-check">
  <label class="radio-inline"><input type="radio" name="bluetooth" value="1" checked>yes</label>
  <label class="radio-inline"><input type="radio" name="bluetooth" value="0">no</label>
  </div>

  <div class="form-group">
    <label for="clockspeed">Clock Speed </label>
    <input type="number" class="form-control" id="clockspeed" aria-describedby="clockspeed" placeholder="Enter Clock Frequency " name="clock-speed">
  </div>

   <label for="sim">Sim count  </label>
  <div class="form-group form-check">
  <label class="radio-inline"><input type="radio" name="sim" value="0" checked>1 sim</label>
  <label class="radio-inline"><input type="radio" name="sim" value="1">2 sim</label>
  </div>

  <div class="form-group">
    <label for="frcamera">Front Camera Resolution(in Mp)</label>
    <input type="number" class="form-control" id="frcamera" aria-describedby="frcamera" placeholder="Enter resolution of front main camera" name="frcamera">
  </div>

  <label for="fourg">4G connectivity  </label>
  <div class="form-group form-check">
  <label class="radio-inline"><input type="radio" name="fourg" value="1" checked>yes</label>
  <label class="radio-inline"><input type="radio" name="fourg" value="0">no</label>
  </div>

  <div class="form-group">
    <label for="internalStorage">Internal Memory</label>
    <input type="number" class="form-control" id="internalStorage" aria-describedby="harddisk" placeholder="Enter Internal Storage" name="harddisk">
  </div>

  <div class="form-group">
    <label for="ph-depth">Phone Depth</label>
    <input type="number" class="form-control" id="ph-depth" aria-describedby="ph-depth" placeholder="Enter Mobile Depth" name="ph-depth">
  </div>

  <div class="form-group">
    <label for="ph-weight">Phone Weight </label>
    <input type="number" class="form-control" id="ph-weight" aria-describedby="ph-weight" placeholder="Enter Mobile Weight" name="ph-weight">
  </div>

  <div class="form-group">
    <label for="core">Core Count  </label>
    <input type="number" class="form-control" id="core" aria-describedby="core" placeholder="Enter nuber of cores" name="core">
  </div>

  <div class="form-group">
    <label for="camera">Camera Resolution(in Mp)</label>
    <input type="number" class="form-control" id="camera" aria-describedby="camera" placeholder="Enter resolution of main camera" name="camera">
  </div>

  <div class="form-group">
    <label for="pixel-height">Phone Pixel Height </label>
    <input type="number" class="form-control" id="pixel-height" aria-describedby="pixel-height" placeholder="Enter Mobile Pixel Height" name="pixel-height">
  </div>

  <div class="form-group">
    <label for="pixel-width">Phone Pixel Width </label>
    <input type="number" class="form-control" id="pixel-width" aria-describedby="pixel-width" placeholder="Enter Mobile Pixel Width" name="pixel-width">
  </div>

  <div class="form-group">
    <label for="ram">RAM</label>
    <input type="number" class="form-control" id="ram" aria-describedby="ram" placeholder="Enter ram of mobile (in MB)" name="ram">
  </div>

  <div class="form-group">
    <label for="ph-height">Phone Height </label>
    <input type="number" class="form-control" id="ph-height" aria-describedby="ph-height" placeholder="Enter Mobile Height" name="ph-height">
  </div>

  <div class="form-group">
    <label for="ph-width">Phone Width </label>
    <input type="number" class="form-control" id="ph-width" aria-describedby="ph-width" placeholder="Enter Mobile Width" name="ph-width">
  </div>

  <div class="form-group">
    <label for="battery-life">Battery Life(in hr)</label>
    <input type="number" class="form-control" id="battery-life" aria-describedby="battery-life" placeholder="Enter Battery Life" name="battery-life">
  </div> 

  <label for="threeg">3G connectivity  </label>
  <div class="form-group form-check">
  <label class="radio-inline"><input type="radio" name="threeg" value="1" checked>yes</label>
  <label class="radio-inline"><input type="radio" name="threeg" value="0">no</label>
  </div>

  <label for="touch">Touch Screen</label>
  <div class="form-group form-check">
  <label class="radio-inline"><input type="radio" name="touch" value="1" checked>yes</label>
  <label class="radio-inline"><input type="radio" name="touch" value="0">no</label>
  </div> 

  <label for="wifi">Wifi</label>
  <div class="form-group form-check">
  <label class="radio-inline"><input type="radio" name="wifi" value="1" checked>yes</label>
  <label class="radio-inline"><input type="radio" name="wifi" value="0">no</label>
  </div>

<button type="submit" class="btn btn-primary" >Submit</button>

<br><h4>{{pred}}</h4>
<br>
</form>
</section>

<script>
function myFunction() {
  document.getElementById("frm1").submit();
}
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
 
